[submodule "auto_LiRPA"]
	path = auto_LiRPA
	url = https://github.com/Verified-Intelligence/auto_LiRPA.git
[submodule "fairsquare"]
	path = fairsquare
	url = git@github.com:cherrywoods/fairsquare.git
